{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "sinon": true,
    "proxyquire": true
  },
  "rules": {
    "prettier/prettier": ["error"]
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser"
}
