{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "sinon": true,
    "proxyquire": true
  },
  "rules": {
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }]
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser"
}
